<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel='stylesheet' href='http://mottie.github.com/tablesorter/css/theme.blue.css'>
        <link rel='stylesheet' href='http://mottie.github.com/tablesorter/addons/pager/jquery.tablesorter.pager.css'>
        <script src='js/libs/underscore.js/underscore-min.js'></script>
        <script src='js/libs/jquery/jquery.min.js'></script>
        <script src='js/libs/backbone.js/backbone-min.js'></script>
        <script src='http://mottie.github.com/tablesorter/js/jquery.tablesorter.min.js'></script>
        <script src='http://mottie.github.com/tablesorter/addons/pager/jquery.tablesorter.pager.js'></script>
        <script src='RestClient.js'></script>
    </head>
    <body>
        <div id='create'></div>

        <table id='datatable' class='tablesorter-blue'>
        </table>
        <div class='pager' id='pager'>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/first.png' class='first' alt='First'/>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/prev.png' class='prev' alt='Prev'/>
            <span class='pagedisplay'></span> <!-- this can be any element, including an input -->
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/next.png' class='next' alt='Next'/>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/last.png' class='last' alt='Last'/>
            <select class='pagesize'>
                <option selected='selected' value='10'>10</option>
                <option value='20'>20</option>
                <option value='30'>30</option>
                <option value='40'>40</option>
            </select>
        </div>
        <br>

        <div id='details'></div>


        <!-- Templates -->
        <script type='text/template' id='tpl-create'>
            <!--
            Put your controls to create new entity here.

            Class 'new' is used to listen on events in JS code.
            -->
            <button class='new'>Create</button>
        </script>

        <script type='text/template' id='thead'>
            <thead>
            <tr>
            <th>userId</th>
            <th>optionalFeatureSearchByLocation</th>
            <th>mail</th>
            <th>optionalFeatureMobile</th>
            <th>optionalFeatureCashPayOnDelivery</th>
            <th>optionalFeatureMultimediaImages</th>
            <th>fullName</th>
            <th>optionalFeatureReportsByRating</th>
            <th>password</th>
            <th>optionalFeatureGoogleMapsEnabled</th>
            <th>optionalFeatureSpecialOffer</th>
            <th>optionalFeatureMultimediaVideo</th>
            <th>optionalFeatureCurrencyManagement</th>
            <th>optionalFeatureScalability</th>
            <th>optionalFeatureReportsBySales</th>
            <th>optionalFeatureSocialNetworks</th>
            <th>optionalFeaturePerformance</th>
            </tr>
            </thead>
        </script>
        <script type='text/template' id='tpl-vhsuser-list-item'>
            <td><a href='#<%= userId %>'><%= userId %></a></td>
            <td><%= optionalFeatureSearchByLocation %></td>
            <td><%= mail %></td>
            <td><%= optionalFeatureMobile %></td>
            <td><%= optionalFeatureCashPayOnDelivery %></td>
            <td><%= optionalFeatureMultimediaImages %></td>
            <td><%= fullName %></td>
            <td><%= optionalFeatureReportsByRating %></td>
            <td><%= password %></td>
            <td><%= optionalFeatureGoogleMapsEnabled %></td>
            <td><%= optionalFeatureSpecialOffer %></td>
            <td><%= optionalFeatureMultimediaVideo %></td>
            <td><%= optionalFeatureCurrencyManagement %></td>
            <td><%= optionalFeatureScalability %></td>
            <td><%= optionalFeatureReportsBySales %></td>
            <td><%= optionalFeatureSocialNetworks %></td>
            <td><%= optionalFeaturePerformance %></td>
        </script>

        <script type='text/template' id='tpl-vhsuser-details'>
            <div>
            <table>
            <tbody>
            <tr><td>Id</td>
            <td>
            <input type='text' id='userId' name='id' value='<%= typeof(userId)!== "undefined" ? userId : "" %>'  />
            </td>
            </tr>
            <tr>
            <td>optionalFeatureSearchByLocation</td><td><input type='text' id='optionalFeatureSearchByLocation' name='optionalFeatureSearchByLocation' value='<%= optionalFeatureSearchByLocation %>'/></td></tr>
            <tr>
            <td>mail</td><td><input type='text' id='mail' name='mail' value='<%= mail %>'/></td></tr>
            <tr>
            <td>optionalFeatureMobile</td><td><input type='text' id='optionalFeatureMobile' name='optionalFeatureMobile' value='<%= optionalFeatureMobile %>'/></td></tr>
            <tr>
            <td>optionalFeatureCashPayOnDelivery</td><td><input type='text' id='optionalFeatureCashPayOnDelivery' name='optionalFeatureCashPayOnDelivery' value='<%= optionalFeatureCashPayOnDelivery %>'/></td></tr>
            <tr>
            <td>optionalFeatureMultimediaImages</td><td><input type='text' id='optionalFeatureMultimediaImages' name='optionalFeatureMultimediaImages' value='<%= optionalFeatureMultimediaImages %>'/></td></tr>
            <tr>
            <td>fullName</td><td><input type='text' id='fullName' name='fullName' value='<%= fullName %>'/></td></tr>
            <tr>
            <td>optionalFeatureReportsByRating</td><td><input type='text' id='optionalFeatureReportsByRating' name='optionalFeatureReportsByRating' value='<%= optionalFeatureReportsByRating %>'/></td></tr>
            <tr>
            <td>password</td><td><input type='text' id='password' name='password' value='<%= password %>'/></td></tr>
            <tr>
            <td>optionalFeatureGoogleMapsEnabled</td><td><input type='text' id='optionalFeatureGoogleMapsEnabled' name='optionalFeatureGoogleMapsEnabled' value='<%= optionalFeatureGoogleMapsEnabled %>'/></td></tr>
            <tr>
            <td>optionalFeatureSpecialOffer</td><td><input type='text' id='optionalFeatureSpecialOffer' name='optionalFeatureSpecialOffer' value='<%= optionalFeatureSpecialOffer %>'/></td></tr>
            <tr>
            <td>optionalFeatureMultimediaVideo</td><td><input type='text' id='optionalFeatureMultimediaVideo' name='optionalFeatureMultimediaVideo' value='<%= optionalFeatureMultimediaVideo %>'/></td></tr>
            <tr>
            <td>optionalFeatureCurrencyManagement</td><td><input type='text' id='optionalFeatureCurrencyManagement' name='optionalFeatureCurrencyManagement' value='<%= optionalFeatureCurrencyManagement %>'/></td></tr>
            <tr>
            <td>optionalFeatureScalability</td><td><input type='text' id='optionalFeatureScalability' name='optionalFeatureScalability' value='<%= optionalFeatureScalability %>'/></td></tr>
            <tr>
            <td>optionalFeatureReportsBySales</td><td><input type='text' id='optionalFeatureReportsBySales' name='optionalFeatureReportsBySales' value='<%= optionalFeatureReportsBySales %>'/></td></tr>
            <tr>
            <td>optionalFeatureSocialNetworks</td><td><input type='text' id='optionalFeatureSocialNetworks' name='optionalFeatureSocialNetworks' value='<%= optionalFeatureSocialNetworks %>'/></td></tr>
            <tr>
            <td>optionalFeaturePerformance</td><td><input type='text' id='optionalFeaturePerformance' name='optionalFeaturePerformance' value='<%= optionalFeaturePerformance %>'/></td></tr>
            </tbody>
            </table>
            <!--
            Put your controls to create new entity here.
            Classes 'save' and 'delete' are used to listen on events in JS code.
            -->
            <button  class='save'>Save</button>
            <button  class='delete'>Delete</button>
            </div>
        </script>


    </body>
</html>
