<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.vhs.cors.CorsFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/webresources/*</url-pattern>
    </filter-mapping>
    
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    
    <env-entry> 
        <env-entry-name>concreteBuilderVhsPaymentMethodFacadeREST</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>com.vhs.builders.VhsPaymentMethodBuilder</env-entry-value> 
    </env-entry>
    
    <env-entry> 
        <env-entry-name>concreteBuilderVhsSocialNetworkFacadeREST</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>com.vhs.builders.VhsSocialNetworkBuilder</env-entry-value> 
    </env-entry>
    
    <env-entry> 
        <env-entry-name>concreteBuilderVhsSupportedCurrencyFacadeREST</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>com.vhs.builders.VhsCurrencyBuilder</env-entry-value> 
    </env-entry>
    
</web-app>